<a href="https://colab.research.google.com/github/mdmahamudullah/Bikers-Zone-Bootstrap/blob/main/IOT_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [108]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [109]:
import pandas as pd

In [110]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [111]:
from google.colab import files
uploaded = files.upload()

Saving ageex.csv to ageex (2).csv

In [134]:
pd.read_csv('ageex (2).csv')

       Name   age  experience    salary
0     hamza  20.0         1.0   10000.0
1     razib  25.0         2.0  110000.0
2     picci  23.0         3.0  464645.0
3     tithi  22.0         4.0       NaN
4     nahin  21.0         5.0  135153.0
5    khalid  25.0         6.0    5512.0
6   sahriar  24.0         7.0   56593.0
7     mamun  23.0         8.0   84511.0
8    dbonik  22.0         9.0   44875.0
9       NaN  25.0         NaN       NaN
10    hgghj   NaN        12.0       NaN
11      NaN   NaN         NaN  447744.0

In [135]:
upload=pd.read_csv('ageex (2).csv')

In [136]:
from pyspark.sql import SparkSession

In [142]:
spark=SparkSession.builder.appName('practice1').getOrCreate()

In [143]:
spark

In [144]:
spark.read.csv('ageex (2).csv')

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [146]:
df=spark.read.csv('ageex (2).csv')

In [147]:
df.show()

+-------+----+----------+------+
|    _c0| _c1|       _c2|   _c3|
+-------+----+----------+------+
|   Name| age|experience|salary|
|  hamza|  20|         1| 10000|
|  razib|  25|         2|110000|
|  picci|  23|         3|464645|
|  tithi|  22|         4|  null|
|  nahin|  21|         5|135153|
| khalid|  25|         6|  5512|
|sahriar|  24|         7| 56593|
|  mamun|  23|         8| 84511|
| dbonik|  22|         9| 44875|
|   null|  25|      null|  null|
|  hgghj|null|        12|  null|
|   null|null|      null|447744|
+-------+----+----------+------+

In [148]:
df=spark.read.option('header','true').csv('ageex (2).csv')

In [149]:
df

DataFrame[Name: string, age: string, experience: string, salary: string]

In [150]:
df.show()

+-------+----+----------+------+
|   Name| age|experience|salary|
+-------+----+----------+------+
|  hamza|  20|         1| 10000|
|  razib|  25|         2|110000|
|  picci|  23|         3|464645|
|  tithi|  22|         4|  null|
|  nahin|  21|         5|135153|
| khalid|  25|         6|  5512|
|sahriar|  24|         7| 56593|
|  mamun|  23|         8| 84511|
| dbonik|  22|         9| 44875|
|   null|  25|      null|  null|
|  hgghj|null|        12|  null|
|   null|null|      null|447744|
+-------+----+----------+------+

In [151]:
df.head(3)

[Row(Name='hamza', age='20', experience='1', salary='10000'),
 Row(Name='razib', age='25', experience='2', salary='110000'),
 Row(Name='picci', age='23', experience='3', salary='464645')]

In [152]:
df.tail(2)

[Row(Name='hgghj', age=None, experience='12', salary=None),
 Row(Name=None, age=None, experience=None, salary='447744')]

In [153]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- experience: string (nullable = true)
 |-- salary: string (nullable = true)

In [154]:
df=spark.read.option('header','true').csv('ageex (2).csv').show()

+-------+----+----------+------+
|   Name| age|experience|salary|
+-------+----+----------+------+
|  hamza|  20|         1| 10000|
|  razib|  25|         2|110000|
|  picci|  23|         3|464645|
|  tithi|  22|         4|  null|
|  nahin|  21|         5|135153|
| khalid|  25|         6|  5512|
|sahriar|  24|         7| 56593|
|  mamun|  23|         8| 84511|
| dbonik|  22|         9| 44875|
|   null|  25|      null|  null|
|  hgghj|null|        12|  null|
|   null|null|      null|447744|
+-------+----+----------+------+

In [155]:
df=spark.read.option('header','true').csv('ageex (2).csv',inferSchema=True)

In [156]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)
 |-- salary: integer (nullable = true)

In [129]:
#lab 2 8-19-23

In [157]:
df2=df.withColumn('Experience after 5 years', df['Experience']+5)

In [158]:
df2.show()

+-------+----+----------+------+------------------------+
|   Name| age|experience|salary|Experience after 5 years|
+-------+----+----------+------+------------------------+
|  hamza|  20|         1| 10000|                       6|
|  razib|  25|         2|110000|                       7|
|  picci|  23|         3|464645|                       8|
|  tithi|  22|         4|  null|                       9|
|  nahin|  21|         5|135153|                      10|
| khalid|  25|         6|  5512|                      11|
|sahriar|  24|         7| 56593|                      12|
|  mamun|  23|         8| 84511|                      13|
| dbonik|  22|         9| 44875|                      14|
|   null|  25|      null|  null|                    null|
|  hgghj|null|        12|  null|                      17|
|   null|null|      null|447744|                    null|
+-------+----+----------+------+------------------------+

In [160]:
df2=df.drop('Experience after 5 years')
df2.show()

+-------+----+----------+------+
|   Name| age|experience|salary|
+-------+----+----------+------+
|  hamza|  20|         1| 10000|
|  razib|  25|         2|110000|
|  picci|  23|         3|464645|
|  tithi|  22|         4|  null|
|  nahin|  21|         5|135153|
| khalid|  25|         6|  5512|
|sahriar|  24|         7| 56593|
|  mamun|  23|         8| 84511|
| dbonik|  22|         9| 44875|
|   null|  25|      null|  null|
|  hgghj|null|        12|  null|
|   null|null|      null|447744|
+-------+----+----------+------+

In [161]:
df3=df2.withColumnRenamed('Name','Update').show()

+-------+----+----------+------+
| Update| age|experience|salary|
+-------+----+----------+------+
|  hamza|  20|         1| 10000|
|  razib|  25|         2|110000|
|  picci|  23|         3|464645|
|  tithi|  22|         4|  null|
|  nahin|  21|         5|135153|
| khalid|  25|         6|  5512|
|sahriar|  24|         7| 56593|
|  mamun|  23|         8| 84511|
| dbonik|  22|         9| 44875|
|   null|  25|      null|  null|
|  hgghj|null|        12|  null|
|   null|null|      null|447744|
+-------+----+----------+------+